<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ease.admin.mapper.RouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ease.admin.bean.entity.Route">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="route_code" property="routeCode" />
        <result column="route_value" property="routeValue" />
        <result column="route_component" property="routeComponent" />
        <result column="route_type" property="routeType" />
        <result column="parent_route_id" property="parentRouteId" />
    </resultMap>
    <select id="queryRouteIdList" resultType="java.lang.String">
        select distinct r.id
        from route r
        inner join role_route rr on r.id = rr.route_id and r.deleted = rr.deleted
        <where>
            r.deleted = 0 and rr.role_id in
            <foreach collection="roleIdList" open="(" close=")" separator=" , " item="roleId">
                #{roleId}
            </foreach>
        </where>
    </select>

</mapper>
